body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;

  background-image: url("mountain.jpeg");
  background-size: cover;        /* biar penuh layar */
  background-position: center;   /* posisi tengah */
  background-repeat: no-repeat;  /* tidak diulang */
  height: 100vh;
}

h1 {
  margin-top: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 30px 0;
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  transition: 0.2s;
}

.cell:hover {
  background: #f3f4f8;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #6a5cff;
  color: white;
  cursor: pointer;
}